<footer class="footer">
    <div class="container">
        <p>&copy; {{ "" | year }} {{ globalConfig.name }}. Built with Vanilla JS.</p>
        {# <div class="footer__socials">
            <a href="{{ globalConfig.social.github }}">GitHub</a>
            <a href="{{ globalConfig.social.linkedin }}">LinkedIn</a>
        </div> #}
    </div>
</footer>