---
layout: layouts/eleventy.root.layout.njk
title: Home
---

{% include "_components/eleventy.hero.njk" %}
{% include "_components/eleventy.about.njk" %}
{% include "_components/eleventy.skills.njk" %}
{% include "_components/eleventy.projects.njk" %}
{% include "_components/eleventy.experience.njk" %}
{% include "_components/eleventy.certifications.njk" %}
{% include "_components/eleventy.contact.njk" %}

{% include "_scripts/eleventy.script.projects.njk" %}